body {
    margin: auto;
    text-align: center;
    background-image: url("../images/paper_fibers.png");
    color: rgb(71, 54, 54);
    font-family: 'Old Standard TT', serif;
}

p {
    font-size: 20px;
}

.jumbotron, .jumbotron-fluid {
    padding: 0px auto;
    background-image: url("../images/brown-leather.jpg");
    color: whitesmoke;
    text-shadow: 2px 2px 4px whitesmoke;
    font-family: 'Playball', cursive;
    box-shadow: 
        0px 3px 3px 3px rgba(169, 169, 169, 0.8),
        0px 5px 0px 5px whitesmoke,
        0px 8px 8px 8px rgba(169, 169, 169, 0.8),
        0px 10px 0px 10px whitesmoke,
        0px 13px 13px 13px rgba(169, 169, 169, 0.8),
        0px 15px 0px 15px whitesmoke,
        0px 17px 17px 17px rgba(169, 169, 169, 0.8),
        0px 20px 0px 20px rgb(53, 40, 40),
        0px 22px 22px 22px rgba(169, 169, 169, 0.8);
    border-bottom: 8px solid rgb(71, 54, 54, 0.9);
}

.jumbo-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px auto;
    background-image: url("../images/brown-leather.jpg");
    color: whitesmoke;
    box-shadow: 
        0px -3px 3px 3px rgba(169, 169, 169, 0.8),
        0px -5px 0px 5px whitesmoke,
        0px -8px 8px 8px rgba(169, 169, 169, 0.8),
        0px -10px 0px 10px whitesmoke,
        0px -13px 13px 13px rgba(169, 169, 169, 0.8),
        0px -15px 0px 15px whitesmoke,
        0px -17px 17px 17px rgba(169, 169, 169, 0.8),
        0px -20px 0px 20px rgb(53, 40, 40),
        0px -22px 22px 22px rgba(169, 169, 169, 0.8);
    border-top: 8px solid rgb(71, 54, 54, 0.9);
}

.lead {
    padding-top: 20px;
    text-shadow: none;
    font-family: 'Bangers', cursive;
}

.results {
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
}

.start-game {
    margin-top: 20px;
    padding: 50px 10px;
    font-size: 30px;
    font-family: 'Playball', cursive;
    border: 1px groove rgb(71, 54, 54, 0.9);
    background-image: url("../images/paper_fibers.png");
}

.gif {
    box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        5px 5px 5px 5px rgb(71, 54, 54, 0.9);
    width: 50%;
    border: 10px inset rgb(71, 54, 54);
    margin-bottom: 30px;
}

.results {
    font-size: 25px;
    padding: 10px 0px;
}

.results:first-child {
    margin-top: 20px;
}

@keyframes btn-hover {
    0% {box-shadow: none}
    100% {box-shadow: 0px 0px 0px 8px rgb(71, 54, 54, 0.9)}
}

button:hover {
    animation-name: btn-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes start-hover {
    0% {box-shadow: none}
    10% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9);
    }
    12% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9);
    }
    22% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9);
    }
    24% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9);
    }
    34% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9),
        0px 0px 0px 40px rgb(71, 54, 54, 0.9);
    }
    36% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9),
        0px 0px 0px 40px rgb(71, 54, 54, 0.9),
        0px 0px 0px 48px rgba(255, 255, 255, 0.9);
    }
    45% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9),
        0px 0px 0px 40px rgb(71, 54, 54, 0.9),
        0px 0px 0px 48px rgba(255, 255, 255, 0.9),
        0px 0px 0px 56px rgb(71, 54, 54, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: none;
    }
    47% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9),
        0px 0px 0px 40px rgb(71, 54, 54, 0.9),
        0px 0px 0px 48px rgba(255, 255, 255, 0.9),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: 8px;
    }
    65% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9),
        0px 0px 0px 40px rgb(71, 54, 54, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: 16px;
    }
    68% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(255, 255, 255, 0.9),
        0px 0px 0px 40px rgba(255, 255, 255, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: 24px;
    }
    77% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgb(71, 54, 54, 0.9),
        0px 0px 0px 32px rgba(65, 167, 61, 0.8),
        0px 0px 0px 40px rgba(255, 255, 255, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: 32px;
    }
    80% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(255, 255, 255, 0.9),
        0px 0px 0px 24px rgba(255, 255, 255, 0.9),
        0px 0px 0px 32px rgba(65, 167, 61, 0.8),
        0px 0px 0px 40px rgba(255, 255, 255, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: 40px;
    }
    89% {
        box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        0px 0px 0px 16px rgba(65, 167, 61, 0.8),
        0px 0px 0px 24px rgba(255, 255, 255, 0.9),
        0px 0px 0px 32px rgba(65, 167, 61, 0.8),
        0px 0px 0px 40px rgba(255, 255, 255, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        border-radius: 48px;
    }
    98% {
        box-shadow: 
        0px 0px 0px 8px rgba(255, 255, 255, 0.9),
        0px 0px 0px 16px rgba(65, 167, 61, 0.8),
        0px 0px 0px 24px rgba(255, 255, 255, 0.9),
        0px 0px 0px 32px rgba(65, 167, 61, 0.8),
        0px 0px 0px 40px rgba(255, 255, 255, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        background-image: url("../images/paper_fibers.png");
        border-radius: 56px;
    }
    100% {
        box-shadow: 
        0px 0px 0px 8px rgba(255, 255, 255, 0.9),
        0px 0px 0px 16px rgba(65, 167, 61, 0.8),
        0px 0px 0px 24px rgba(255, 255, 255, 0.9),
        0px 0px 0px 32px rgba(65, 167, 61, 0.8),
        0px 0px 0px 40px rgba(255, 255, 255, 0.9),
        0px 0px 0px 48px rgba(65, 167, 61, 0.8),
        0px 0px 0px 56px rgba(255, 255, 255, 0.9),
        0px 0px 70px 64px rgba(65, 167, 61, 0.8);
        background-image: url("../images/green-paper_fibers.jpg");
        border-radius: 70px;
    }
}

.start-game:hover {
    animation-name: start-hover;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


button:focus {
    outline: none;
}

#start-container {
    margin-top: 60px;
    padding: 30px;
}

#footer-space {
    height: 10px;
}

#clock {
    display: block;
    width: 30%;
    padding: 10px 20px;
    margin: 30px auto 10px;
    font-size: 30px;
    height: 70px;
    border: 6px inset rgb(71, 54, 54);
    font-family: 'Lobster Two', cursive;
    box-shadow: 
        0px 0px 0px 8px rgb(71, 54, 54, 0.9),
        5px 5px 5px 5px rgb(71, 54, 54, 0.9);

}

#question, #report, #graphics {
    font-size: 25px;
    padding: 20px 20px;
    margin-bottom: 30px;
}

#choiceA, #choiceB, #choiceC, #choiceD, #restart {
    display: block;
    padding: 20px;
    width: 30%;
    margin: 0px auto 20px;
    border: 1px groove rgb(71, 54, 54, 0.9);
    background-image: url("../images/paper_fibers.png");
    font-size: 20px;
}

#graphics-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    padding: 15px 0px;
}

#graphics-content {
    font-size: 25px;
    padding: 0px;
    width: 100%;
    margin: 0%;
}

#report {
    margin-top: 30px;
}

#score-percent {
    font-size: 40px;
}


@media screen and (max-width: 600px) {
    .gif {
        width: 90%;
        margin: 0% 5%;
    }
}



